<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="locationProviders" name="Location Providers" schema="schema/locationProviders.exsd"/>
   <extension
         id="backup"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="">
         <run
               class="de.blizzy.backup.BackupApplication">
         </run>
      </application>
   </extension>
   <extension
         id="backup"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.blizzy.backup.backup"
            name="%product.name">
         <property
               name="appName"
               value="%product.name">
         </property>
      </product>
   </extension>
   <extension
         point="de.blizzy.backup.locationProviders">
      <locationProvider
            class="de.blizzy.backup.vfs.filesystem.FileSystemLocationProvider"
            name="%locationProvider.filesystem.name">
      </locationProvider>
      <locationProvider
            class="de.blizzy.backup.vfs.sftp.SftpLocationProvider"
            name="%locationProvider.sftp.name">
      </locationProvider>
   </extension>
</plugin>
